<div class="container-fluid">
  <div class="home-heading text-center row">
    <div class="home-heading-wrapper">
      <h1>Bartr goods and Services.</h1>
      <p>Bartr Allows you to exchange goods or services for other goods and services with people in your community</p>
      <a class="btn btn-default" href="#">Lets Bartr</a>
    </div>
  </div>
</div>
