

<div class="container">

    <form class="form-horizontal">
<fieldset>

<!-- Form Name -->
<h1>Let's create an exchange</h1>
<p>Get rid of all your unwanted stuff</p>
<!-- Button -->
<div class="form-group">
  <label class="col-md-4 control-label" for="singlebutton"></label>
  <div class="col-md-4">
    <button id="singlebutton" name="singlebutton" class="btn btn-dark">add</button>
  </div>
</div>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="textinput">product or service name</label>
  <div class="col-md-4">
  <input id="textinput" name="textinput" type="text" placeholder="" class="form-control input-md">

  </div>
</div>

<!-- Textarea -->
<div class="form-group">
  <label class="col-md-4 control-label" for="textarea">description</label>
  <div class="col-md-4">
    <textarea class="form-control" id="textarea" name="textarea"></textarea>
  </div>
</div>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="textinput">date of exchange</label>
  <div class="col-md-4">
  <input id="textinput" name="textinput" type="text" placeholder="" class="form-control input-md">

  </div>
</div>

<!-- Select The Type of Exchange -->
<div class="form-group">
  <label class="col-md-4 control-label" for="selectbasic">type of exchange</label>
  <div class="col-md-4">
    <select id="selectbasic" name="selectbasic" class="form-control">
      <option value="1">good</option>
      <option value="2">service</option>
      <option value="2">mixed</option>
    </select>
  </div>
</div>

<!--  Image File Button -->
<div class="form-group">
  <label class="col-md-4 control-label" for="filebutton">Upload Image</label>
  <div class="col-md-4">
    <input id="filebutton" name="filebutton" class="input-file" type="file">
  </div>
</div>


<!-- Textarea Condition -->
<div class="form-group">
  <label class="col-md-4 control-label" for="selectbasic">condition</label>
  <div class="col-md-4">
    <select id="selectbasic" name="selectbasic" class="form-control">
      <option value="1">used</option>
      <option value="2">good</option>
      <option value="3">flawless</option>
    </select>
  </div>
</div>




</fieldset>
</form>


</div>
