

<div class="container">
<fieldset>
  <form class="form-horizontal" action="/exchange/new" method="post" enctype="multipart/form-data">

<!-- Form Name -->
<h1>Let's create an exchange</h1>
<p>Get rid of all your unwanted stuff</p>
<!-- Button -->
<div class="form-group">
  <label class="col-md-4 control-label" for="singlebutton"></label>
  <div class="col-md-4">
    <button id="singlebutton" type="submit" name="singlebutton" class="btn btn-dark">add</button>
  </div>
</div>

<!-- Textarea -->
<div class="form-group">
  <label class="col-md-4 control-label" for="description">description</label>
  <div class="col-md-4">
    <textarea class="form-control" id="description" name="description"></textarea>
  </div>
</div>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="dateofexchange">date of exchange</label>
  <div class="col-md-4">
  <input id="dateofexchange" name="dateofexchange" type="date" placeholder="" class="form-control input-md">

  </div>
</div>

<!-- Select The Type of Exchange -->
<div class="form-group">
  <label class="col-md-4 control-label" for="typeofexchange">type of exchange</label>
  <div class="col-md-4">
    <select id="typeofexchange" name="typeofexchange" class="form-control">
      <option value="good">good</option>
      <option value="service">service</option>
      <option value="mixed">mixed</option>
    </select>
  </div>
</div>

<!--  Image File Button -->
<div class="form-group">
  <label class="col-md-4 control-label" for="photo">Upload Image</label>
  <div class="col-md-4">
    <input id="photo" name="photo" class="input-file" type="file">
  </div>
</div>


<!-- Textarea Condition -->
<div class="form-group">
  <label class="col-md-4 control-label" for="condition">condition</label>
  <div class="col-md-4">
  <input id="condition" name="condition" type="text" placeholder="" class="form-control input-md">

  </div>
</div>




</fieldset>
</form>


</div>
